<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
	<meta charset="utf-8" />
</head>
<body>
    <div id="header_content" style="background-color: black; max-width: 1000px; margin: 0 auto; padding: 10px; opacity: 0.75;">
        <h1 style="color: white; text-align: left; -webkit-margin-before: 0px; -webkit-margin-after: 0px;">
            <img src="profile-42914_960_720.png" style="width: 200px" />
            Your Name
        </h1>
    </div>
    <div id="main_content" style="max-width: 1020px; margin: 0 auto; min-height: 100%">
        <div style="background-color: black; opacity: 0.75; float:left; width: 310px; padding: 10px; margin: 0; margin-top: 10px">
            <h2 style="color:white;">
                Your Current Features:
            </h2>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
        </div>
        <div style="background-color: black; opacity: 0.75; float: right; width: 660px; padding: 10px; margin: 0;  margin-top: 10px">
            <h2 style="color:white; ">Personal Feed</h2>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
        </div>
        <div style="background-color: black; opacity: 0.75; float:left; width: 310px; padding: 10px; margin: 0;  margin-top: 10px">
            <h2 style="color:white;">
                Your Best Friends
            </h2>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
        </div>
        <div style="background-color: black; opacity: 0.75; float:left; width: 310px; padding: 10px; margin: 0;  margin-top: 10px">
            <h2 style="color:white;">
                Features to be unlocked next
            </h2>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
        </div>
        <div style="background-color: black; opacity: 0.75; float: right; width: 660px; padding: 10px; margin: 0;  margin-top: 10px">
            <h2 style="color:white; ">Notification Feed</h2>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
            <p style="color:white; margin-left: 15px">
                To be filled by javascript
            </p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div id="footer_content" style="background-color: black; max-width: 1000px; margin: 0 auto; padding: 10px; margin-top: 10px; opacity: 0.75; width: 100%">
        <h3 style="color: white; text-align: center;">
            life's a game, play responsibly
        </h3>
    </div>
</body>
</html>
