html
 head
  title= name + "'s Profile"

 body
  h1= "Welcome " + name + "!"

//  if name === "22338618"
//    h1= "Welcome " + name  + " FLAG: {'This Above All: To Thine Own Self Be True.' -Shakespeare }"
//  else 
//    h1= "Welcome " + name + "...but " + name + " != количество цифр в крупнейшем простейшем числе"
