html
    head
        title = Profile Page
        link(rel='stylesheet' href='profileStyle.css')
    body
        script(src='profileScripts.js')
        #header_content
            h1(class='header_objects' id='name')
                -   var first = data.first_name
                -   var last = data.last_name
                -   var img = 'img(src=\'profile-42914_960_720.jpg\' style=\'width: 200px; padding-right: 10px\''
                -   var header = img + ' ' + first + ' ' + last
                p!= header
        #main_content 
            .panels.left
                h2 Your Current Features:
                p(id='features')
                    To be filled by javascript
            .panels.right
                h2 Personal Feed:
                p= data.first_name
                p= data.last_name
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
            .panels.left
                h2 Your Current Features:
                p(id='features')
                    To be filled by javascript
            .panels.left
                h2 Your Current Features:
                p(id='features')
                    To be filled by javascript
            .panels.right
                h2 Personal Feed:
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
        #clearer
        #footer_content
            h3 life's a game, play responsibly